<section id="contact" class="py-16 px-8 bg-white dark:bg-gray-800">
  <h2 class="text-3xl font-bold mb-6 text-gray-900 dark:text-gray-100">
    Contact
  </h2>
  <div class="mt-6 flex space-x-4">
    <!-- GitHub -->
    <a
      href="https://github.com/okome7"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center space-x-2 hover:opacity-80"
    >
      <img
        src="/github-log.png"
        alt="GitHub"
        class="w-7 h-7 dark:invert dark:brightness-125"
      />
    </a>

    <!-- X -->
    <a
      href="https://x.com/okome_it_"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center space-x-2 hover:opacity-80"
    >
      <img
        src="/x-logo.png"
        alt="X"
        class="w-6 h-6 dark:invert dark:brightness-125"
      />
    </a>
  </div>
</section>
