---
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Tailwind Test</title>
  </head>
  <body>
    <h1 class="text-4xl font-bold text-blue-500">Tailwind 動作確認</h1>
  </body>
</html>
