---
import ProjectCard from "../components/ProjectCard.astro";
---

<section id="projects" class="py-16 px-8 bg-white dark:bg-gray-800">
  <h2 class="text-3xl font-bold mb-6 text-gray-900 dark:text-gray-100">
    Projects
  </h2>
  <div class="space-y-8">
    <ProjectCard
      title="DelishDays"
      tech="Vue3, Pinia, HTML/CSS, JavaScript, IndexedDB"
      description="自分で作った料理と外食を分けて記録できるアプリ"
      image="../../public/screenshots/delishdays-home.png"
      link="/portfolio/projects/delishdays"
      appLink="https://delishdays.netlify.app/?tab=cook"
    />

    <ProjectCard
      title="家計簿"
      tech="HTML/CSS, JavaScript"
      description="支出・収入をカテゴリごとに分けて管理できる家計簿アプリ"
      image="../../public/screenshots/budgeting-home.png"
      link="/portfolio/projects/budgeting-app"
      appLink="https://budgeting-app.example.com"
    />
  </div>
</section>
