<section id="skills" class="py-16 px-8 bg-gray-50 dark:bg-gray-900">
  <h2 class="text-3xl font-bold mb-6 text-gray-900 dark:text-gray-100">
    Skills
  </h2>
  <div class="grid md:grid-cols-2 gap-8 max-w-4xl mx-auto">
    <div>
      <h3 class="font-semibold mb-2">言語</h3>

      <ul
        class="list-disc list-inside text-gray-700 dark:text-gray-300 marker:text-gray-500 dark:marker:text-gray-500"
      >
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold mb-2">フレームワーク・ライブラリ</h3>
      <ul
        class="list-disc list-inside text-gray-700 dark:text-gray-300 marker:text-gray-500 dark:marker:text-gray-500"
      >
        <li>Vue.js（Petite-Vue, Vue3）</li>
        <li>Astro.js</li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold mb-2">スタイル・デザイン</h3>
      <ul
        class="list-disc list-inside text-gray-700 dark:text-gray-300 marker:text-gray-500 dark:marker:text-gray-500"
      >
        <li>Tailwind CSS</li>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold mb-2">データベース・ツール</h3>
      <ul
        class="list-disc list-inside text-gray-700 dark:text-gray-300 marker:text-gray-500 dark:marker:text-gray-500"
      >
        <li>IndexedDB / SQL</li>
        <li>Git / GitHub / Netlify</li>
        <li>Vite</li>
      </ul>
    </div>
  </div>
</section>
