---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ポートフォリオ</title>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body class="bg-gray-50 text-gray-900">
    <Header />
    <main class="container mx-auto p-6">
      <slot />
      <!-- ページごとの内容がここに入る -->
    </main>
    <Footer />
  </body>
</html>
