---
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || "ポートフォリオ"}</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-50 text-gray-900 overflow-x-hidden">
    <slot />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
    <script>
      declare const AOS: any;

      document.addEventListener("DOMContentLoaded", () => {
        AOS.init();
      });
    </script>
  </body>
</html>
